@import url(./bootstrap/bootstrap.min.css);

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a,
a:hover,
a:focus,
a:active{
    text-decoration: none;
    color: inherit;
}

textarea{
    border-radius: 10px
}

.bgc-main{
    background-color: #78070B;
}

.color-main{
    color: #78070B;
}

.logo{
    width: 320px;
}

.txt_small{
    font-size: 10px !important;
}

.navbar{
   min-height: 100px;
}

/* HEADER */

.app-header-bgc{
    height: 100%;
}

.app-header-bgc_grad{
    height: 100%;
    width: 35%;
    background: linear-gradient(90deg, rgb(255, 255, 255) 7%, rgb(120, 7, 11) 94%);
}

.app-header-bgc_main{
    height: 100%;
    width: 65%;
}

/* BLOCK PRESENTATION */

.container-presentation__txt{
    font-size: 1.5rem;
    letter-spacing: -2px;
}

/* BLOCK ABOUT */

.block-about{
    width: 65%;
}

.block-about-content{
    width: 100%;
    border-top: #78070B solid 1.5px;
}

.slide-wrap{
    height: 300px;
    border-radius: 25px;
}

.slider__img{
    width: 300px;
    border-radius: 25px;
}

/* BLOCK MINI NEWS */

.block-mini-news{
    width: 30%;
    height: 550px;
    overflow: clip;
}
.block-mini-news-items{
    width: 100%;
    height: 100%;
    border-top: #78070B solid 1.5px;
    border-left:  #78070B solid 1.5px;
}

/* customers */

.block-customers-content{
    border-top: #78070B solid 1.5px;
}
.block-customers-content__item{
    width: 250px;
    height: 200px;
    text-align: center;
}
.block-customers-content__img{
    object-fit: fill 
}
.block-customers-content__img[alt="mnpz"]{
    width: 150px;
}
.block-customers-content__img[alt="gazprom"]{
    width: 250px;
}
.block-customers-content__img[alt="ecogaz"]{
    width: 250px;
}
.block-customers-content__img[alt="nefthim"]{
    width: 150px;
}

/* contacts */

.block-contacts-content{
    width: 100%;
    border-top: #78070B solid 1.5px;
}
.contacts-form{
    max-width: 680px;
}
.contacts-form-content__item input, textarea{
    width: 300px;
    border:#78070B solid 2px;
}

.app-footer{
    width: 100%;
    height: 80px;

}
.bgc-footer{
    height: 80px;
}

/* SERVICES */
.block-services .title-block{
    width: 100%;
    border-bottom: #78070B solid 1.5px;
}

.block-services__subtitle{
    display: block;
    width: 80%;
}

.block-services-items{
    width: 100%;
}

.block-services-item{
    width: 200px;
    height: 250px;
}

.block-services-item__txt{
    height: 50px;
}

.block-services__img{
    width: 100%;
    object-fit: scale-down;
}
.block-services__img_ndt{
    height: 240px;
}
.block-services-item-ndt{
    width: 210px;
    height: 300px;
}

/* LICENSES */

.block-licenses-items{
    width: 100%;
    border-top: #78070B solid 1.5px;
}
.block-licenses-item{
    width: 100%;
    border: #78070B solid 1.5px;
    border-radius: 20px;
}
.block-licenses-content-item__img{
    width: 100px;
}

.arrow{
    width: 36px;
    cursor: pointer;
}

.arrow:hover{
    width: 40px;
}

.block-licenses-item-box-img-big{
    width: 100%;
    border-top: #78070B solid 1.5px;
}

.block-licenses-item-box-img-big__img{
    width: 45%;
}

/* REVIEWS */

.block-reviews-content {
    width: 100%;
    border-top: #78070B solid 1.5px;
}

/* NEWS */

.block-news-content {
    width: 100%;
    border-top: #78070B solid 1.5px;
}
.block-news-content-item {
    width: 100%;
    border-bottom: #78070B solid 1.5px;
}
.block-news-content__img{
    max-width: 480px;
    align-self: center;
}
/* MEDIA */

@media screen and (max-width: 1200px) {
    .logo {
       width: 240px;
    }
    .container-presentation__txt{
        font-size: 1.2rem;
        letter-spacing: -1.5px;
    }
}
@media screen and (max-width: 992px) {
    .logo {
       width: 160px;
    }
    .navbar{
        min-height: 100%;
    }
    .container-presentation__txt{
        font-size: 1rem;
        letter-spacing: -1.5px;
    }
}
@media screen and (max-width: 576px) {
    .logo {
       width: 80px;
    }
}