@import url(./bootstrap/bootstrap.min.css);

.bgc-main{
    background-color: #78070B;
}

.color-main{
    color: #78070B;
}

.logo{
    width: 320px;
}

.navbar{
   min-height: 100px;
}

/* HEADER */

.app-header-bgc{
    height: 100%;
}

.app-header-bgc_grad{
    height: 100%;
    width: 35%;
    background: linear-gradient(90deg, rgb(255, 255, 255) 7%, rgb(120, 7, 11) 94%);
}

.app-header-bgc_main{
    height: 100%;
    width: 65%;
}

/* BLOCK PRESENTATION */

.container-presentation__txt{
    font-size: 1.5rem;
    letter-spacing: -2px;
}

/* BLOCK ABOUT */

.block-about-content{
    width: 65%;
    border-top: #78070B solid 1.5px;
}

.slide-wrap{
    height: 300px;
    border-radius: 25px;
    /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
}
.slider__img{
    width: 300px;
    border-radius: 25px;
    /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */

    /* box-shadow: 4px 13px 30px 1px #BC5A5D; */
}

/* MEDIA */

@media screen and (max-width: 1200px) {
    .logo {
       width: 240px;
    }
    .container-presentation__txt{
        font-size: 1.2rem;
        letter-spacing: -1.5px;
    }
}
@media screen and (max-width: 992px) {
    .logo {
       width: 160px;
    }
    .navbar{
        min-height: 100%;
    }
    .container-presentation__txt{
        font-size: 1rem;
        letter-spacing: -1.5px;
    }
}
@media screen and (max-width: 576px) {
    .logo {
       width: 80px;
    }
}